<script setup lang="ts">
import { ref } from "vue";

const Port = ref([
  {
    name: "Apassara Wannawijit",
    img: "https://scontent.fbkk22-6.fna.fbcdn.net/v/t1.6435-9/118274588_2701885770024870_3810318113047158588_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a4a2d7&_nc_eui2=AeHyve8QlSxw3qYxZwdGqOvIDwwTTJUK8rIPDBNMlQryskNMW5C-Qfgx4l_w5x0sVESXMpAEovsrAhpWGAvE2ng_&_nc_ohc=l4ebLGFeF7UAX8qHO9Q&_nc_ht=scontent.fbkk22-6.fna&oh=00_AfChnarEzZC903jrSO4-lUiGdmdy7veMXlhgMVi68vYNQA&oe=63C6474D",
  },
]);
</script>

<template>
  <v-container style="background-color: cornflowerblue">
    <v-card class="mx-auto" width="600" rounded="0">
      <v-img height="100%" cover src="picture.png"
        ><h1
          justify="center"
          align="center"
          style="font-size: 60px; color: white"
        >
          Portfolio
        </h1>
        <v-avatar size="200">
          <v-img
            cover
            src="https://scontent.fbkk22-6.fna.fbcdn.net/v/t1.6435-9/118274588_2701885770024870_3810318113047158588_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a4a2d7&_nc_eui2=AeHyve8QlSxw3qYxZwdGqOvIDwwTTJUK8rIPDBNMlQryskNMW5C-Qfgx4l_w5x0sVESXMpAEovsrAhpWGAvE2ng_&_nc_ohc=l4ebLGFeF7UAX8qHO9Q&_nc_ht=scontent.fbkk22-6.fna&oh=00_AfChnarEzZC903jrSO4-lUiGdmdy7veMXlhgMVi68vYNQA&oe=63C6474D"
          ></v-img>
          <v-banner-text class="text-white"> 63160084 </v-banner-text>
        </v-avatar>
        <v-list-item
          class="text-white"
          title=" Computer - Science"
        ></v-list-item>
      </v-img>
    </v-card>
    <v-row>
      <v-col v-for="(item, index) of Port" :key="index">
        <FrameworkPop :name="item.name" :img="item.img"></FrameworkPop>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead style="background-color: aquamarine">
            <tr>
              <th>คำนำหน้า</th>
              <th>ชื่อ</th>
              <th>นามสกุล</th>
              <th>ชื่อภาษาอังกฤษ</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of Port" :key="index">
              <td>นางสาว</td>
              <td>อภัสรา</td>
              <td>วรรณวิจิตร</td>
              <td>Apassara Wannawijit</td>
            </tr>
          </tbody>
        </v-table>
      </v-col> </v-row
    ><br />
    <h1 align="center" style="color: black">ประวัติการศึกษา</h1>
    <br />
    <v-timeline align="start">
      <v-timeline-item>
        <div>
          <div class="text-h6">อนุบาล</div>
          <p style="color: cornsilk">
            โรงเรียนลาซาลจันทบุรี(มารดาพิทักษ์) ตำบล จันทนิมิต อำเภอ เมือง
            จังหวัด จันทบุรี
          </p>
        </div>
      </v-timeline-item>

      <v-timeline-item>
        <div>
          <div class="text-h6">ประถมศึกษา</div>
          <p style="color: cornsilk">
            โรงเรียนสฤษดิเดช ตำบล วัดใหม่ อำเภอ เมือง จังหวัดจันทบุรี
          </p>
        </div>
      </v-timeline-item>

      <v-timeline-item>
        <div>
          <div class="text-h6">มัธยมศึกษา</div>
          <p style="color: cornsilk">
            โรงเรียนลาซาลจันทบุรี(มารดาพิทักษ์) ตำบล จันทนิมิต อำเภอ เมือง
            จังหวัด จันทบุรี
          </p>
        </div>
      </v-timeline-item> </v-timeline
    ><br />
    <h2 align="center">สิ่งที่สนใจ</h2>
    <p align="center">หนัง: แนวสืบสวนสอบสวน,บู๊,สยองขวัญ</p>
    <p align="center">ซีรีย์: แนวสืบสวนสอบสวน,ดราม่า,ระทึกขวัญ,สยองขวัญ</p>
    <p align="center">
      ทำอาหาร: ชอบทำอาหาร,ชอบคิดค้นเมนู หาเมนูต่างๆทำไปเรื่อยๆ
      ถ้าอร่อยก็กินแต่ถ้าไม่อร่อยก็กินเหมือนกัน
    </p>
  </v-container>
</template>
